[submodule "submodules/Starling-Framework"]
	path = submodules/Starling-Framework
	url = https://github.com/Gamua/Starling-Framework.git
[submodule "submodules/Feathers"]
	path = submodules/Feathers
	url = https://github.com/joshtynjala/feathers.git
